/* common */
html, body {
    height: 100%;
    margin: 0;
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../images/chat-back-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.chat-history {
    flex-grow: 1;
    overflow-y: auto;
}
.chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #F3F4F6;
    z-index: 9999;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-input textarea {
    width: 230px;
    height: 40px;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    resize: none;
}
.chat-input button {
    margin-top: 2px;
    padding: 8px 16px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.chat-message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat-message-right {
    justify-content: flex-end;
}
.chat-message-left .chat-bubble {
    background-color: #F3F4F6;
    color: #111827;
    width: 180px;
}
.chat-message-right .chat-bubble {
    background-color: #F3F4F6;
    color: #111827;
    width: 180px;
}
.chat-bubble {
    border-radius: 10px;
    padding: 10px;
}
.chat-bubble p {
    margin: 0;
}
.chat-bubble p {
    word-wrap: break-word;
}
.chat-bubble p a {
    color: #1D4ED8;
    text-decoration: none;
}
.chat-bubble p a:hover {
    text-decoration: underline;
}

/* tablet */
@media (min-width:768px) and (max-width:1020px) {
.chat-message-left .chat-bubble {
    width: 320px;
}
.chat-message-right .chat-bubble {
    width: 320px;
}
.chat-input textarea {
    width: 400px;
    height: 50px;
}
.chat-input button {
    margin-top: 6px;
}
}

/* pc */
@media(min-width: 1020px) {
.chat-input textarea {
    width: 420px;
    height: 50px;
}
.chat-input button {
    margin-top: 6px;
}
.chat-message-left .chat-bubble {
    width: 480px;
}
.chat-message-right .chat-bubble {
    width: 480px;
}
}

/* display */
@media(min-width:1500px){
.chat-input textarea {
    width: 420px;
    height: 50px;
}
.chat-input button {
    margin-top: 6px;
}
.chat-message-left .chat-bubble {
    width: 420px;
}
.chat-message-right .chat-bubble {
    width: 420px;
}
}
