/* common */
    #post_img{
        border-radius: 20px;
        height: 280px;
        width: 300px;
        margin-left: 70px;
        margin-bottom: 3px;
        object-fit: cover;
    }
    #profile_post_img{
        height: 230px;
        width: 330px;
        object-fit: cover;
    }
    #show_post_img{
        border-radius: 20px;
    }


/* tablet */
@media (min-width:768px) and (max-width:1020px) {
    #post_img{
        height: 300px;
        width: 500px;
        margin-left: 80px;
    }
}
/* pc */
@media(min-width: 1020px) {
    #profile_post_img{
        height: 230px;
        width: 330px;
    }
    #post_img{
        height: 380px;
        width: 550px;
        margin-left: 120px;
        margin-bottom: 3px;
    }

}
/* display */
@media(min-width:1500px){
    #post_img{
        height: 400px;
        width: 600px;
        margin-left: 130px;
    }
    #show_post_img{
        height: 400px;
        width: 600px;
        margin-left: 100px;
    }

}
